
<div class="container-fluid">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3">
                <div class="testimonial-header h-100 bg-dark pt-6 pe-6 pb-6">
                    <div class="text-start d-flex flex-column justify-content-center wow fadeInUp" data-wow-delay="0.1s">
                        <p class="text-white sub-title">Testimonial</p>
                        <h1 class="display-6 text-white mb-0">Referanslar</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="testimonial-content h-100 pt-6 ps-6 pb-6">
                    <div class="testimonial-carousel owl-carousel bg-light wow fadeInUp" data-wow-delay="0.1s">
                        <div class="testimonial-item" data-dot="<img class='img-fluid' src='img/testimonial-img-1.jpg' alt=''>">
                            <div class="row gy-4 gx-2 mb-4 text-center">
                                <div class="col-12">
                                    <!-- Resim üstte olacak -->
                                    <div class="d-flex justify-content-center mb-3">
                                        <div class="testimonial-inner-img border border-primary border-3" style="width: 100px; height: 100px;">
                                            <img src="https://media.licdn.com/dms/image/v2/C5603AQHgcwdDfg78VQ/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1660768329425?e=1734566400&v=beta&t=aMtdO-rz7M0caM0VpOY6QJO2iWFJoNPc_TzNZ8B7xPc" class="img-fluid" style="object-fit: cover;" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <!-- Başlık ve diğer içerikler resmin altında olacak -->
                                    <h1 class="mb-2">Muhammet Enes Yanık</h1>
                                    <p class="mb-0">Türkiye</p>
                                </div>
                            </div>
                            <div class="text-center">
                                <p>İyi bir yazılımcı!</p>
                                <div class="d-flex justify-content-center">
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                    <i class="fas fa-star text-primary"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>