
<div class="col-12 wow fadeInUp" data-wow-delay="0.5s">
    <div class="rounded">
        <iframe class="rounded w-100"
                style="height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48159.68351073894!2d28.974185072767625!3d41.02568870057081!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab9e7a7777c43%3A0x4c76cf3dcc8b330b!2sGalata%20Kulesi!5e0!3m2!1str!2str!4v1728987515911!5m2!1str!2str"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
