
@{
    ViewBag.Title = "EducationList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Eğitim Hayatı Listem</h2>
<table class="table table-bordered">
    <tr>
        <th>Ids</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Fırat Üniversitesi</td>
        <td>Yazılım Mühendisliği</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>

    <tr>
        <td>2</td>
        <td>Boğaziçi Üniversitesi</td>
        <td>Bilgisayar Mühendisliği Master</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="#" class="btn btn-success">Güncelle</a></td>
    </tr>
</table>

<a href="/Education/CreateEducation/" class="btn btn-info">Yeni Eğitim Bilgisi Girişi</a>


